<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Backbone.jsによるライブラリのアプリケーション</title>
</head>
<body>
  <h1>Backbone.jsによるライブラリのアプリケーション</h1>

  <div id="addressBook"></div>

  <script id="address-template" type="text/template">
  <div class="address">
    <ul>
      <li><%= name %></li>
      <li><%= tel %></li>
    </ul>
  </div>
  </script>

  <script src="js/lib/jquery-1.11.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
  <script src="js/lib/backbone-min.js"></script>
  <script src="js/model.js"></script>
  <script src="js/collections.js"></script>
  <script src="js/view.js"></script>
  <script src="js/router.js"></script>

  <script src="js/app.js"></script>
</body>
</html>